/* IE6 css fixer v0.95: Thu, 13 Mar 2014 12:34:38 +0100 */


embed,
iframe,
object,
video {
	height: auto;
	width: auto; /* Prevent stretching of full-size and large-size images with height and width attributes in IE8 */
}

/* ============================================= */
/* safe settings                                 */

/* add display:inline to floated elements */
*:first-child+html .sm-offset,
*:first-child+html .lg-offset,
*:first-child+html .nav-offset,
*:first-child+html .mobile-nav,
*:first-child+html .tab-wide, *:first-child+html .tab-narrow,
*:first-child+html #slide-nav .navbar-toggle,
*:first-child+html #footer-widgets-1 .widget,
*:first-child+html .widget_custom_menu_widget &gt; .widget-inner,
*:first-child+html #footer-widgets-3 .widget,
*:first-child+html #footer-widgets-3 .nav-list li,
*:first-child+html .sidebar .widget.simple-social-icons .widget-title,
*:first-child+html .mobile-nav ul, *:first-child+html .widget_custom_menu_widget &gt; .widget-inner &gt; ul,
*:first-child+html .mobile-nav ul li, *:first-child+html .widget_custom_menu_widget &gt; .widget-inner &gt; ul &gt; li,
*:first-child+html .alignright, *:first-child+html a img.alignright,
*:first-child+html .alignleft, *:first-child+html a img.alignleft {display:inline;}

/* convert min height values */
*:first-child+html .sm-offset {height:1px;}
*:first-child+html .lg-offset {height:1px;}


/* fix negative margins */
*:first-child+html .front-bump-shadow,
*:first-child+html .tab-content {position:relative; zoom:1;}

/* add zoom:1 to overflow:hidden */
*:first-child+html .front-bump-shadow,
*:first-child+html .tab-content {zoom:1;}

/* add zoom:1 to pos:relative elements */
*:first-child+html .tagline,
*:first-child+html .hero,
*:first-child+html .hero-container,
*:first-child+html #slide-nav,
*:first-child+html #slide-nav .navbar-toggle,
*:first-child+html #side-nav-holder,
*:first-child+html #nav-close,
*:first-child+html #footer-widgets-3 .nav-list li,
*:first-child+html .mobile-nav ul,
*:first-child+html .widget_custom_menu_widget &gt; .widget-inner &gt; ul,
*:first-child+html .mobile-nav ul li,
*:first-child+html .widget_custom_menu_widget &gt; .widget-inner &gt; ul &gt; li {zoom:1;}

/* add transparancy */
*:first-child+html .front-bump-shadow:before {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=75);}
*:first-child+html .front-bump-shadow:after {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=75);}
*:first-child+html .simple-social-icons ul li a:hover {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);}


/* add zoom:1; display:inline; to inline-block elements */
*:first-child+html .sidebar .widget.simple-social-icons .widget-title {zoom:1; display:inline;}

/* add overflow:visible to (submit) buttons */
 *:first-child+html input[type="submit"], *:first-child+html button {overflow:visible;}


/* ============================================= */
/* potentially harmful settings                  */

/* add zoom:1 to backgrounds -- Manually check for problems with inline elements! */
*:first-child+html body.not-front,
*:first-child+html .main-wrap,
*:first-child+html nav.nav-main.navbar-collapse.collapse,
*:first-child+html .navbar-default .navbar-nav &gt; li &gt; a:hover,
*:first-child+html .navbar-default .navbar-nav &gt; .active &gt; a,
*:first-child+html .navbar-default .navbar-nav &gt; .active &gt; a:hover,
*:first-child+html .navbar-default .navbar-nav &gt; .active &gt; a:focus,
*:first-child+html .front-bump-shadow:before,
*:first-child+html .front-bump-shadow:after,
*:first-child+html .home nav.nav-main.navbar-collapse.collapse,
*:first-child+html .feature-bg,
*:first-child+html .feature-wrapper,
*:first-child+html .tabber .nav-tabs &gt; li,
*:first-child+html .nav-tabs &gt; li.active &gt; a,
*:first-child+html .nav-tabs &gt; li.active &gt; a:hover,
*:first-child+html .nav-tabs &gt; li.active &gt; a:focus,
*:first-child+html .arrow,
*:first-child+html .wrap.main-section .content,
*:first-child+html .breadcrumb,
*:first-child+html .main,
*:first-child+html .list-group &gt; li &gt; a,
*:first-child+html .list-group &gt; li &gt; a:hover,
*:first-child+html .sidebar .widget,
*:first-child+html .footer-menu-container ul li a.active,
*:first-child+html .footer-menu-container ul li a.active:hover,
*:first-child+html #footer-widgets-3 .nav-list,
*:first-child+html #footer-widgets-3 .nav-list li.active a,
*:first-child+html #footer-widgets-3 .nav-list li a:hover,
*:first-child+html .wp-caption,
*:first-child+html .main,
*:first-child+html .mobile-footer,
*:first-child+html .home .main-wrap,
*:first-child+html .home .main,
*:first-child+html .main-wrap {zoom:1;}

/* PNG fix */
*:first-child+html body.not-front{behavior: expression((this.runtimeStyle.behavior = "none") && (this.currentStyle.backgroundImage.toString().toLowerCase().indexOf('.png')>-1) && (this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.currentStyle.backgroundImage.toString().replace('url("','').replace('")','') + "', sizingMethod='crop')", this.runtimeStyle.zoom = 1, this.runtimeStyle.backgroundImage = "none"));}