/*
Theme Name:         SES-GS
Theme URI:          http://www.ses-gs.com/
Description:        A customized version of Shoestrap built for the nice folks at SES-GS
Version:            2.0.0
Author:             Aram & shawn
Author URI:         https://github.com/AramZS
Template:           shoestrap-3       
License:            GPL v3 License
License URI:        http://www.gnu.org/licenses/gpl.html
Tags:               
*/