ul#sidebar-social{
    clear: both;
    display: inline-block;
    width: 100%;
}
ul#sidebar-social li{
    float: left;
	line-height: 1;
    margin: 0 5% 0 0;
    width: 15.75%;
}
ul#sidebar-social li:last-child{
	margin: 0;
}
ul#sidebar-social li a{
	color: #ed6052;    
	cursor: pointer;
    display:inline-block;
    font-size:210px;
    font-size: 3rem;
    padding: 0;
    width: 100%;
}
