@charset "utf-8";
/* CSS Document */

.box {
	border:1px solid #323a45;
	display:inline;
}

#content {
	border:1px solid #323a45;
}

.width-200 {
	width:166px;
	display:inline;
}

.width-525 {
	width:521px;
	display:inline;
}

.tabberlive {
}

ul.tabbernav li a {
	border-top:0;
}


#logo { 
	float:left;
	margin:0;
	position:absolute;
	top:12px;
	left:20px;
}


