@charset "utf-8";
/* CSS Document */


.width-200 {
	width:168px;
	display:inline;
}

.width-525 {
	width:521px;
	display:inline;
}

#content {
	border:1px solid #323a45;
}

.box {
	border-top:1px solid #323a45;
}

